.musicCard {
  position: relative;
  right: 10px;
  width: 229px;
  padding: 8px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.cardCover {
  position: relative;
}

.cardImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* 默认隐藏 */
  transition: opacity 0.1s;
}
.musicCard:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.musicCard:hover .overlay {
  opacity: 1; /* 悬停时显示 */
}

.playIcon {
  z-index: 99;
  position: absolute;
  bottom: 75px;
  right: 20px;
  font-size: 32px;
  color: white !important;
  transition: opacity 0.3s, transform 0.3s;
  opacity: 0; /* 默认隐藏 */
}
.playIcon:hover {
  transform: scale(1.1);
  opacity: 1;
}
.musicCard:hover .playIcon {
  opacity: 1; /* 悬停时显示 */
}

/* .cardInfo {
  padding:  16px 16px 0px 16px;
} */

.cardTitle {
  font-size: 16px;
}

.cardDescription {
  font-size: 14px;
  color: #666;
}
