.header {
  justify-content: space-between;
}

.right {
  position: relative;
  top: 2px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  cursor: pointer;
}

.switch {
  cursor: pointer;
}
